/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(0, 21, 41);
  font-family: 'Microsoft JhengHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.to-edge {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.floating-btn {
  padding: 12px;
  transition: all 0.2s linear;
}

.floating-btn > span {
  transition: all 0.2s linear;
}
